  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Karma", sans-serif
  }

  .hero-section {
    min-height: 75vh;
    display: flex;
    align-items: center;
    background: rgb(102, 101, 101)
  }

  .product-card {
    overflow: hidden;
  }

  .product-card:hover {
    cursor: pointer;
  }

  .product-image {
    height: 240px;
    overflow: hidden;
    background: #f8f9fa;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pagination .page-link {
    color: #212529;
    border-radius: 0.4rem;
    margin: 0 3px;
  }

  .pagination .page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
  }

  .dropdown-item:active {
    background-color: #3a3a3a;
  }